/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  inline-size: 100%;
  min-block-size: 100dvb;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: var(--main_font);
  background-image: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px),
    repeating-linear-gradient(
      180deg,
       #d3d3d3 0 2px,
        transparent 2px 4px),
    linear-gradient(
      180deg,
       #e7e7e7,
        #1a1a1a);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin-block-start: 100px;
  margin-inline: auto;
  inline-size: var(--header_and_main_inline_size);
  padding-block: 128px;
  background-color: #fff;
  border: 2px solid #000;
  display: grid;
  grid-template-rows: min-content min-content;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
  position: relative;
}

.header_title {
  font-family: var(--accent_font);
  font-size: var(--heder_logo_font_size);
  line-height: var(--heder_logo_font_size);
  font-weight: var(--font_weight_m);
  display: block;
  inline-size: 100%;
}

.header_paragraph {
  display: block;
  font-family: var(--accent_font);
  font-size: var(--header_title_font_size);
  line-height: var(--header_title_font_size, 23px);
  text-align: center;
  font-weight: var(--font_weight_m);
  text-transform: uppercase;
}

main {
  margin-inline: auto;
  inline-size: var(--header_and_main_inline_size);
  font-family: var(--main_font);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section_content {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-template-rows: min-content min-content 1fr;
  flex-direction: column;
  border: 2px solid #000;
  background-color: #fff;
  justify-content: flex-end;
  position: relative;
}

.section_content:nth-child(1) {
  margin-block-start: 100px;
}

.section_content h2 {
  display: block;
  grid-column: 1/-1;
  grid-row: 1 / auto;
  padding-block: 3px;
  font-family: var(--main_font);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font_weight_l);
  line-height: 21.78px;
  padding-inline: 10px 24px;
}

.image_and_from_author {
  display: block;
  grid-column: 1/-1;
  grid-row: 2 / auto;
  position: relative;
  inline-size: 100%;
}

.section_content_from_author {
  display: block;
  color: var(--text_color);
  font-family: var(--accent_font);
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 13px;
  text-shadow: 0 0 1px #fff;
  max-inline-size: 310px;
  z-index: 1;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .section_content_from_author {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
} 

.section_content_image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  object-position: center;
  object-fit: cover;
}

.section_text {
  grid-column: 1/-1;
  grid-row: 3 / auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-family: var(--main_font);
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--font_weight_m);
}

.card__icon-button {
  grid-row: 4 / auto;
  grid-column: 2 / auto;
  background-color: transparent;
  inline-size: 38px;
  block-size: 38px;
  border: 1px solid transparent;
  margin-inline-end: 6px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s ease;
}

.card__icon-button img {
  inline-size: 27px;
  block-size: 24px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main_color);
}

.button {
  border: 2px solid var(--main_color);
  background-color: var(--button_color);
  transition: box-shadow 0.3s;
  position: relative;
  color: #fff;
}

.card__like-button {
  inline-size: 130px;
  grid-row: 4 / auto;
  grid-column: 3 / auto;
  block-size: 38px;
  margin-block-end: 25px;
  align-self: flex-end;
  margin-inline-end: 25px;
  
}

.button__text {
  display: block;
  align-self: center;
  justify-content: center;
  font-weight: var(--font_weight_m);
  font-family: var(--accent_font);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 7;
}

.filter_blur {
  filter: blur(1px);
}

.filter_contrast {
  filter: contrast(200%);
}

.filter_sepia {
  filter: sepia(0.9);
}

.filter_invert {
  filter: invert(1);
}
.filter_hue_rorate {
  filter: hue-rotate(180deg);
}

.filter_saturate {
  filter: saturate(0.8);
}

.filter_grayscale {
  filter: grayscale(0.8);
}

.filter_few {
  filter: brightness(1.3) opacity(0.8) contrast(2);
}

.safe {
  display: flex;
  align-items: center;
  align-self: center;
  inline-size: 335px;
  padding-inline-start: 19px;
  padding-block: 15px;
  margin-inline: auto;
  margin-block-end: 103px;
}

.button::before {
  content: '';
  inset: 0;
  background-color: var(--main_color);
  position: absolute;
}

.button svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

button:hover {
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
  outline: none;
}

.safe .button__text {
  padding: 0;
  margin-inline-start: 3.5px;
}

.size_svg {
  width: 21px;
  height: 21px;
}

.dialog_window {
  inline-size: var(--dialog_window_inline_size);
  grid-template-columns: min-content 1fr;
  column-gap: 12px;
  row-gap: 30px;
  padding-inline: 30px;
  padding-block: 30px;
  outline: 2px solid currentColor;
  z-index: 4;
}

.dialog_window .size-svg {
  width: 39px;
  height: 39px;
}

.dialog_window[open] {
  display: grid;
  position: fixed;
}

.dialog_window_text {
  max-inline-size: 198px;
  grid-column: 2/-1;
  color: currentColor;
  font-weight: var(--font_weight_m);
  font-family: var(--accent_font);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog_window svg {
  margin-block-start: 12px;
}

.dialog_window_button {
  grid-column: 1/-1;
  grid-row: 2 / auto;
  text-transform: uppercase;
  padding-block: 12.5px;
}

dialog::backdrop {
  background: var(--main_color, #000);
  opacity: 0.75;
}

@media (width <= 376px) {

  .header {
    padding-block: 120px;
  }

  .section_content h2 {
    padding: 4px 10px 6px 10px;
  }

  .section_content_image {
    block-size: 375px;
  }

  .safe {
    flex-direction: column;
    gap: 8px;
    inline-size: 306px;
    padding-block: 15px;
    margin-block-end: 100px;
    margin-block-start: 2px;
  }

  .size-svg {
    width: 28px;
    height: 28px;
  }
}



